<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>RCTEM</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Raphael">
            <h1>Raphael Chrístian</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/rctem/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/rcmodesto">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/raphaelcmodesto/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div id="inicio-centro" class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <img src="../static/img/perfil.jpg" alt="Foto do Raphael">
                <h2 class="text-white text-shadow">Raphael Chrístian</h2>
                <span id="subtitle" class="text-white text-shadow">Analista Desenvolvedor</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class=" d-flex align-items-center">
                    <a href="#sobre" class="">
                        <div class="floating"><i class="bi bi-arrow-down text-white pe-2 fs-2 " aria-hidden="true"></i>
                        </div>Arrate para mais
                    </a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Procuro uma oportunidade na área de desenvolvimento, pois com as minhas habilidades
                        comportamentais e as experiências adquiridas na área militar e ao longo dos meus estágios e nas
                        demais iniciativas privadas por onde passei, acredito
                        que com dedicação e empenho consiga demonstrar todo meu potencial e habilidades. Espero estar em
                        uma empresa em que possa contribuir para meu desenvolvimento, e eu possa retribuir com projetos
                        inovadores
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/Raphael.jpg" alt="Foto do Raphael"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3></h3>
                    <p></p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Niver: <span class="fw-lighter">05 de Junho de 1992</span>
                                </li>
                                <li class="list-group-item">Idade: <span class="fw-lighter">29 anos</span></li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">Belo Horizonte</span></li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">Minas Gerais</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Violino e Futebol</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Quebrando tabu por alguns meses, eu e minha esposa decidimos que eu iria ficar com o meu filho
                        após a sua licença maternidade, até o momento estou com as responsabilidades diárias de casa,
                        inclusive do meu filho que está com dois
                        anos e tem o espectro autista. Até o momento foi só sucesso, convivi momentos a qual muitos pais
                        não participam, mas hoje meu filho precisa se engajar com a sociedade, então resolvemos colocar
                        ele na escolinha, com isso estou retornando
                        as atividades.</p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg">

            <div class="container">
                <div data-anime="right">
                    <h2 class='pt-5'>Habilidades</h2>
                    <p>O que eu adquiri com algumas de habilidades técnicas e não técnicas com as experiências que já
                        tive,
                        a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em
                        cada
                        uma delas.</p>
                </div>

                <!--colunas-->
                <div class="tab-content" id="pills-tabContent">
                    <h4 class='pt-5'>Técnicas</h4>
                    <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link  active" id="pills-desen-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-desen" type="button" role="tab" aria-controls="pills-desen"
                                aria-selected="true">Desenvolvimento</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contab-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contab" type="button" role="tab" aria-controls="pills-contab"
                                aria-selected="false">Contabilidade</button>
                        </li>
                    </ul>
                    <!--Desenvolvimento-->
                    <div class="tab-pane fade show active" id="pills-desen" role="tabpanel"
                        aria-labelledby="pills-desen-tab">
                        <div class="row">
                            <div class="grid-wrapper">
                                <div class="col-vert align-items-start border border-dark" data-anime="left">
                                    <h3 class='pt-3'>Backend</h3>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/python.png" alt="python">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%;"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/java.png" alt="java">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%;"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/c.png" alt="c">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%;"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/js.png" alt="js">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-vert align-items-center border border-dark" data-anime="left">
                                    <h3 class='pt-3'>Frontend</h3>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/html5.png" alt="html5">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 95%;"
                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/css.png" alt="css">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/js.png" alt="js">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-vert align-items-end border border-dark" data-anime="left">
                                    <h3 class='pt-3'>Database</h3>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/mysql.png" alt="mysql">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 95%;"
                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/postgresql.png"
                                            alt="postgresql">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%;"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/sql.png" alt="sql">
                                        <div class="progress">
                                            <div class="progress-bar" data-anime="left" role="progressbar"
                                                style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                                                aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-vert align-items-end border border-dark" data-anime="left">
                                    <h3 class='pt-3'>Tools</h3>
                                    <div class="tam-hab" data-anime="up">
                                        <img class="img-fluid shadow" src="../static/img/git.png" alt="git">
                                        <div class="progress">
                                            <div class="progress-bar" data-anime="left" role="progressbar"
                                                style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                aria-valuemax="100">70%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Contabilidade-->
                    <div class="tab-pane fade show " id="pills-contab" role="tabpanel"
                        aria-labelledby="pills-contab-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <p class='mt-3 mb-0'>Folha de Pagamento</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                                </div>
                                <p class="mt-3 mb-0">Admissão e Rescisão</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                                <p class="mt-3 mb-0">E-social</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                                <p class="mt-3 mb-0">Sefip</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                                <p class="mt-3 mb-0">Office</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                                <p class="mt-3 mb-0">Ng Mastermaq</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                        aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                                </div>
                                <p class="mt-3 mb-0">Rm Totvs</p>
                                <div class="progress mb-3">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mt-3 mb-0">Dirf</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                                <p class="mt-3 mb-0">Rais</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>
                                <p class="mt-3 mb-0">DCTweb</p>
                                <div class="progress">
                                    <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<hr class='w-50 me-auto ms-auto'>-->

                <div class="row">
                    <h4 class='pt-5'>Não Técnicas</h4>

                    <div class="col-md-4 col-sm-4">
                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="87">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Trabalho em equipe</p>
                        </div>
                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="96">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Proatividade</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="80">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Comunicação</p>
                        </div>

                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="95">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Empatia</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="92">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Comprometimento</p>
                        </div>

                        <div class="progress-circle" data-anime="left">
                            <div class="circle_percent" data-percent="85">
                                <div class="circle_inner">
                                    <div class="round_per"></div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0">Orientação a detalhes</p>
                        </div>
                    </div>
                </div>
        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row" id="curriculo">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Analise e Desenvolvimento de Sistemas</h4>
                            <h5>Concluído Setembro de 2017</h5>
                            <div>
                                <img src="../static/img/cotemig.jpg" alt="Faculdade COTEMIG">
                                <p><em>Faculdade COTEMIG</em></p>
                            </div>
                            <p>Curso com o foco em identificar, elaborar e executar testes, qualidade de sistema, com
                                metodologias de desenvolvimento de software. instalar, monitorar e administrar bancos de
                                dados, projetar e gerenciar sistemas.
                            </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Técnico em Informatica</h4>
                            <h5>Concluído - Dezembro de 2014</h5>
                            <div>
                                <img src="../static/img/senai.jpg" alt="Senai MG">
                                <p><em>Senai - MG</em></p>
                            </div>
                            <p>Curso voltado a programação de computadores e suporte técnico afim de atender a diversas
                                demandas de uma corporação, contribuindo para o crescimento e aperfeiçoamento dos
                                processos de tecnologia.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Gestão de negócios</h4>
                            <h5>Concluído - Dezembro de 2014</h5>
                            <div>
                                <img src="../static/img/ios.jpg" alt="IOS">
                                <p><em>Instituto da Oportunidade Social - IOS</em></p>
                            </div>
                            <p>Programa Talentos do Futuro TOTVS - Gestão de negócios, soluções e recebi conceitos sobre
                                o sistema e ferramentas Totvs (RM, Protheus) </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Informática</h4>
                            <h5>Concluído - Junho de 2010</h5>
                            <div>
                                <img src="../static/img/semLogo.jpg" alt="Company">
                                <p><em>Company formação profissional</em></p>
                            </div>
                            <p> Administração e Gestão de empresas </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Auxiliar de Pessoal</h4>
                            <h5>Janeiro/2017 a Setembro/2019</h5>
                            <div>
                                <img src="../static/img/semLogo.jpg" alt="Rj Contabilidade">
                                <p><em>Rj Contabilidade Eirelisss</em></p>
                            </div>
                            <p>Departamento Pessoal - Folha de pagamento, Admissão, Rescisão, Quadro de horários,
                                Férias, Arquivos Magnéticos mensais e anuais (Rais, Dirf, Sefip, E-social...).
                                Departamento Fiscal - Gestão de notas fiscais, Apuração de tributos
                                (Diferencial de Alíquota, Antecipação, ICMS ST, DeSTDA) e Cumprimento das obrigações
                                tributárias. Departamento Contábil - Apuração de tributos. Utilizando ERP Soft rom e Ng
                                Mastermaq, Excel, Word.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Estagiário Desenvolvedor</h4>
                            <h5>Maio/2016 a Dezembro/2016</h5>
                            <div>
                                <img src="../static/img/ssi.jpg" alt="Solucionar Sistemas Integrados">
                                <p><em>Solucionar Sistemas Integrados LTDA- ME</em></p>
                            </div>
                            <p>Desenvolvimento Python, Css, JavaScript, Html.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Estagiário Desenvolvedor</h4>
                            <h5>Fevereiro/2014 a Janeiro/2016</h5>
                            <div>
                                <img src="../static/img/totvs.jpg" alt="Totvs">
                                <p><em>TOTVS S.A.</em></p>
                            </div>
                            <p>Desenvolvimento de Sistemas em C#, Asp.Net MVC, Css, JavaScript, Html, SQL Server.</p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Soldado</h4>
                            <h5>Março/2011 a Março/2013</h5>
                            <div>
                                <img src="../static/img/eb.jpg" alt="Exército Brasileiro">
                                <p><em>Exército Brasileiro</em></p>
                            </div>
                            <p>Administração, Sentinela, Motorista particular e Eletricista.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Linx</h4>
                            <h5>Julho/2010 a Setembro/2011</h5>
                            <div>
                                <img src="../static/img/linx.jpg" alt="Linx">
                                <p><em>Contínuo</em></p>
                            </div>
                            <p>Recebimento de documentos e manutenção dos mesmos, Arquivo de documentos, Atendimento ao
                                público Interno e Externo (recepção), lançamento de Notas Fiscais, Protocolo e
                                Manutenção de Atas de Reuniões, Serviços Externos com Valores
                                entre outros. Obs: Tempo de serviço obrigatório no Exército Brasileiro 01 Março 2011.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left"> 

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma-gen.png" class="card-img-top"
                                            alt="Plataforma educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma educacional</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                acesso restrito, apenas pessoas autorizadas</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="http://generationbrasil.online/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                deploy realizado no Heroku e no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/blogPessoal-front-back"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokedéx</h5>
                                            <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                                CSS e JavaScript, deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/pokedex-flask" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bluesmusic.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blue Music</h5>
                                            <p class="card-text">Projeto fullstack criado com SQLite, Flask, HTML, CSS e
                                                JavaScript,
                                                deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/BlueMusicV2" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://appbluemusic.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/timer.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Timer</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/cronometro-intervalo"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://timer-break.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/pagina-links.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Página de Links</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/thi.code" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://thicode.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>-->

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Belo Horizonte, MG</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>rctemodesto@gmail.com</p>
                            </div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1875.1626446302855!2d-43.99733945300388!3d-19.95281776283258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6963eb0a32ba9%3A0x2e5bd7f1d1c33f60!2sR.%20Brasil%20-%20Belo%20Horizonte%2C%20MG%2C%2030512-640!5e0!3m2!1spt-BR!2sbr!4v1634851492828!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>

                                <!--<i class="bi bi-whatsapp"></i>-->
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>


        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}


    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>RCTEM</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>